<div class="container">
    <div class="row">
        <div class="col-12 text-center mt-5 py-3 ">
            <h1 style="font-weight:800;">Find your dream job now</h1>
            <h6 style="font-size:20px;">
               5 lakh+ jobs for you to explore
            </h6>
        </div>
    </div>
    <div class="row">
        <div class="col-10 mx-auto mt-3 mb-4">
            <div class="form-holder rounded-pill">
                <span><i class="fa fa-search" style="font-size:22px;color:#a4a4cf;" aria-hidden="true"></i></span>
               <input style="margin-left:10px;"type="text" class="form-control" placeholder="Enter skills/designation/companies">
               <select class="form-select form-control" placeholder="Select Experience">
                <option disabled selected>Select Experience</option>  
                <option value="Fresher">Fresher</option>
                   <option value="1 Year">1 Year</option>
                   <option value="2 Year">2 Year</option>
                   <option value="3 Year">3 Year</option>
                   <option value="4 Year">4 Year</option>
                   <option value="more than 4">more than 4</option>
               </select>
               <input class="form-control" style="width:25%"type="text" placeholder="Enter location">
               
               <button type="button" class="btn btn-primary rounded-pill" routerLink="/jobs">Search</button>
                
            
            </div>
        </div>
    </div>
    <!-- job types start -->
    <!-- first row -->
      <div class="row">
        <div class="col-12 d-flex justify-content-center mt-3 ">
             <div class="jt_ul">
                <ul>
                    <li><i class="fa fa-home" aria-hidden="true"></i></li>
                    <li class="rounded-circle" style="font-weight:600;">Remote</li>
                    <li><i class="fa fa-angle-right" aria-hidden="true"></i></li>
                </ul>
             </div> 
             <div class="jt_ul ">
                <ul>
                    <li><i class="fa fa-rocket" aria-hidden="true"></i></li>
                    <li class="rounded-circle" style="font-weight:600;">Satrtup</li>
                    <li><i class="fa fa-angle-right" aria-hidden="true"></i></li>
                </ul>
             </div> 
             <div class="jt_ul">
                <ul>
                    <li><i class="fa fa-laptop" aria-hidden="true"></i></li>
                    <li class="rounded-circle" style="font-weight:600;">Fresher</li>
                    <li><i class="fa fa-angle-right" aria-hidden="true"></i></li>
                </ul>
             </div> 
             <div class="jt_ul">
                <ul>
                    <li><i class="fa fa-building-o" aria-hidden="true"></i></li>
                    <li class="rounded-circle" style="font-weight:600;">MNC</li>
                    <li><i class="fa fa-angle-right" aria-hidden="true"></i></li>
                </ul>
             </div> 
             <div class="jt_ul">
                <ul>
                    <li><i class="fa fa-laptop" aria-hidden="true"></i></li>
                    <li class="rounded-circle" style="font-weight:600;">Software &..</li>
                    <li><i class="fa fa-angle-right" aria-hidden="true"></i></li>
                </ul>
             </div> 
             <div class="jt_ul">
                <ul>
                    <li><i class="fa fa-unlock" aria-hidden="true"></i></li>
                    <li class="rounded-circle" style="font-weight:600;">Project Mg..</li>
                    <li><i class="fa fa-angle-right" aria-hidden="true"></i></li>
                </ul>
             </div> 
        </div>
      </div>

      <!-- Second Row -->
      <div class="row">
        <div class="col-md-12 mt-2 d-flex justify-content-center">
            <div class="jt_ul">
                <ul>
                    <li><i class="fa fa-home" aria-hidden="true"></i></li>
                    <li class="rounded-circle" style="font-weight:600;">Remote</li>
                    <li><i class="fa fa-angle-right" aria-hidden="true"></i></li>
                </ul>
             </div> 
             <div class="jt_ul">
                <ul>
                    <li><i class="fa fa-home" aria-hidden="true"></i></li>
                    <li class="rounded-circle" style="font-weight:600;">Remote</li>
                    <li><i class="fa fa-angle-right" aria-hidden="true"></i></li>
                </ul>
             </div> 
             <div class="jt_ul">
                <ul>
                    <li><i class="fa fa-home" aria-hidden="true"></i></li>
                    <li class="rounded-circle" style="font-weight:600;">Remote</li>
                    <li><i class="fa fa-angle-right" aria-hidden="true"></i></li>
                </ul>
             </div> 
             <div class="jt_ul">
                <ul>
                    <li><i class="fa fa-home" aria-hidden="true"></i></li>
                    <li class="rounded-circle" style="font-weight:600;">Remote</li>
                    <li><i class="fa fa-angle-right" aria-hidden="true"></i></li>
                </ul>
             </div> 
             <div class="jt_ul">
                <ul>
                    <li><i class="fa fa-home" aria-hidden="true"></i></li>
                    <li class="rounded-circle" style="font-weight:600;">Remote</li>
                    <li><i class="fa fa-angle-right" aria-hidden="true"></i></li>
                </ul>
             </div> 
        </div>
      </div>
      <!-- job types end -->

      <!-- top compnies hiring Start -->
         

        <!-- top compnies hiring End -->
</div>
