 <div class="container">
    <div class="row pt-md-5">
        <div class="col-md-8">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-9">
                              <h6>{{ jobdetail.jobName}}</h6>
                                <a>{{ jobdetail.companyName}}</a>
                        </div>
                        <div class="col-md-3 text-end">
                            <img class="imglogo" [src]="jobdetail.logoURL">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <i class="fa fa-suitcase" arial-hidden="true"></i> {{jobdetail.experience}}
                        </div>
                        <div class="col-md-4">
                            <i class="fa fa-inr" arial-hidden="true"></i> {{jobdetail.package}}
                        </div>
                        <div class="col-md-4 text-center">
                            <i class="fa fa-map-marker" arial-hidden="true"></i> {{jobdetail.location}}
                        </div>
                    </div>
                    <div class="row pt-md-2">
                        <hr>
                    </div>
                    <div class="row">
                        <div class="col-md-4 pt-md-2">
                            <small>Few Hours Ago</small>
                        </div>
                        <div class="col-md-4 pt-md-2">
                            <i class="fa fa-bookmark" arial-hiden="true"></i> Save
                        </div>
                        <div class="col-md-4 text-end">
                              <button *ngIf="isLogedin && userInfo?.userRole=='JobSeeker'" (click)="sendJob()" class="btn btn-outline-primary rounded-pill">
                                    Apply
                              </button>
                              <button *ngIf="!isLogedin" routerLink="/login" class="btn btn-primary rounded-pill mx-2">
                                    Login to Apply
                              </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card mt-md-3">
                <div class="card-body">
                    <h5>Job description</h5>
                    <span>
                        {{jobdetail.jobDescription}}
                    </span>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="row mb-md-2">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-body">
                            <h6 class="text-center">Reviews</h6>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 mt-md-2">
                    <div class="card">
                        <div class="card-body">
                            <h6 class="text-center">Salary Insights</h6>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>
</div> 