#main{
    background-color:#FFFFFF;
 
}
.ul-container{
    margin-left: 40px !important;;
}
.ul-container ul li{
    margin-right:30px!important;
    font-weight:600;
    color:#FFCB83;
    font-size:17px;
}
.register-btn{
    background-color:#FC7358;
    color:#FFFFFF;
    font-weight:700;
}
.login-btn{
    font-weight:700;
}
